<app-security-nav></app-security-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">NAME</th>
                          <th scope="col">PURPOSE</th>
                          <th scope="col">WHOM TO MEET</th>
                          <th scope="col">ENTRY TIME</th>
                          <th scope="col">EXIT TIME</th>
                          <th scope="col">EXIT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of visitor" >
                          <td>{{i.name}}</td>
                          <td>{{i.purpose}}</td>
                          <td>{{i.whomtomeet}}</td>
                          <td>{{i.entrydatetime}}</td>
                          <td>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="datetime-local" class="form-contol" name="exitdatetime" [(ngModel)]="exitdatetime">
                            </div>
                          </td>
                          <td>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <button (click)="exit(i.id)" class="btn btn-primary">EXIT</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
