<app-employee-nav></app-employee-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2>LEAVE APPLICATION</h2>
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">LEAVE TYPE</label>
                    <select name="leavtype" [(ngModel)]="leavetype" class="form-control">
                        <option value="casual">casual</option>
                        <option value="sick">sick</option>
                        <option value="special">special</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">REMARKS</label>
                    <input type="text" name="remarks" [(ngModel)]="remarks" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">FROM DATE</label>
                    <input type="date" name="fromdate" [(ngModel)]="fromdate" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">TO DATE</label>
                    <input type="date" name="todate" [(ngModel)]="todate" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">APPLY DATE</label>
                    <input type="date" name="applydate" [(ngModel)]="applydate" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"></label>
                    <button (click)="readValues()" class="btn btn-primary">APPLY</button>
                </div>
            </div>
        </div>
    </div>
</div>

