<app-main-nav></app-main-nav>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="width: 30rem;align-content: center;">
                <div class="card text-center" style="width: 30rem;align-content: center;">
                    <div class="card-body">
                        <h3 class="card-title">SECURITY LOGIN</h3>
                        <div class="row g-3 mt-3">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label">EMAIL</label>
                                    <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label">PASSWORD</label>
                                    <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label"></label>
                                    <button class="btn btn-primary" (click)="readValues()">LOGIN</button>
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <a class="nav-link active" aria-current="page" routerLink="/">Back to Admin Login</a>
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <a class="nav-link active" aria-current="page" routerLink="/employeelogin">Employee Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
