<app-security-nav></app-security-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <!-- <th scope="col">ID</th> -->
                          <th scope="col">EMPLOYEE CODE</th>
                          <th scope="col">NAME</th>
                          <th scope="col">DESIGNATION</th>
                          <th scope="col">ENTRY TIME</th>
                          <th scope="col">ENTRY</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of employee" >
                          <!-- <td>{{i.empid}}</td> -->
                          <td>{{i.empcode}}</td>
                          <td>{{i.name}}</td>
                          <td>{{i.designation}}</td>
                          <td>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="datetime-local" class="form-contol" name="entrydatetime" [(ngModel)]="entrydatetime">
                            </div>
                          </td>
                          <td>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <button (click)="entry(i.empcode)" class="btn btn-primary">ENTRY</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>